@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Consolas', sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url('img/title_background.jpg');
  background-size: cover;
}

#layer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}


#pause-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 70px;
  font-weight: bold;
  color: rgb(255, 194, 103);
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}



/******************** Headline ***********************/

#headline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 100px;
}

#headline h1 {
  font-size: 110px;
  color: rgb(129, 71, 38);
  font-family: 'Nanum Pen Script', cursive;
}



/******************** Main Content ***********************/

#container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 722px;
  overflow: hidden;       
}

#container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}


.style-fullscreen {
  width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
}



/**** BUTTONS ***/


#main-buttons {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
  width: 100%;
  /* height: 50px; */
  border-radius: 8px;
  padding: 15px;
}


#main-buttons button {
  padding: 12px 20px;
  margin: 0 5px;
  background: rgb(187, 106, 0);
  color: rgb(255, 234, 208);
  border: 3px solid rgb(78, 38, 15);
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#main-buttons button:hover {
  background: rgb(255, 220, 173);
  color: rgb(78, 38, 15);
}

#game-buttons {
  position: absolute;
  top: 0px;
  right: 0;
  height: 60px;
  padding: 10px 15px;
  display: none;
  justify-content: right;
  align-items: center;
  gap: 10px;
  background: transparent;
  z-index: 100;
}


.game-buttons {
  position: relative;
  line-height: 100%;
  padding: 3px 10px;
  background: rgb(187, 106, 0);
  color: rgb(255, 234, 208);
  border: 2px solid rgb(78, 38, 15);
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
}



#slash {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


#mobile-buttons {
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  display: none;
  padding: 10px;
  gap: 100px;
}

#mobile-walk-buttons,
#mobile-action-buttons {
  display: flex;
  gap: 15px;
}

#total-points {
  position: absolute;
  top: 15%;
  right: 15px;
  font-size: 32px;
  color: rgb(255, 223, 175);
  letter-spacing: 1px;
  text-align: right;
}


#added-points {
  font-size: 22px;
  color: rgb(109, 255, 141);
}


#total-bottles {
  position: absolute;
  top: 5%;
  left: 3%;
  font-size: 24px;
  color: rgb(255, 223, 175);
  height: 12.5%;
  display: none;
}

#total-bottles img {
  width: 50px;
  height: 100%;
}

#bottle-counter {
  display: flex;
  align-items: center;
}

/**** Controls ***/

.screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 22px;
  text-align: justify;
  width: 70%;
  padding: 15px;
  border: 3px solid rgb(78, 38, 15);
  border-radius: 10px;
  background: rgb(255, 220, 173);
  z-index: 1000;
}

#close-controls {
  align-self: flex-end;
  font-size: 16px;
}

#story-screen {
  width: 100%;
  height: 100%;
  padding: 30px;
  justify-content: flex-start;

  overflow-y: scroll;
}


#story-screen span,
#story-screen h2 {
  color: rgb(165, 33, 0);
  font-weight: 900;
}


#close-story {
  align-self: flex-end;
  font-size: 16px;
}

table {
  padding-top: 20px;
  line-height: 30px;
}

table .key {
  text-align: right;
  padding-right: 25px;
}

canvas {
  background: #000;
  display: block;
  border: 1px solid black;
  z-index: -1;

}

.fullscreen-element {

}

.d-none {
  display: none;
}


/******************** Footline ***********************/

#footline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  position: absolute;
  background: rgb(78, 38, 15);
  color: white;
  bottom: -30px;
}

#footline a {
  color: rgb(255, 194, 103);
  padding-right: 8px;
  text-decoration: none;
}

#footline a:hover {
  text-decoration: underline;
}


/******************** END SCREEN ***********************/

#end-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;

  background: black;
  transition: 1s;
  z-index: 1000000000000;
}

#end-screen.active {
  width: 100%;
}

#end-screen-content {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
  height: 100%;
}

#end-screen h2 {
  font-size: 55px;
  color: rgb(241, 50, 50);
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stats .label {
  color: rgb(255, 194, 103);
}

.statline {
  font-size: 22px;
  color: white;
  padding: 2px;
}

#overview {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

hr {
  width: 100%;
  height: 2px;
  background: rgb(255, 194, 103);
  border: none;
  margin: 15px 0 5px;
}

.kills {
  font-size: 18px;
}

#restart-game {
  border: 2px solid rgb(187, 106, 0);
  padding: 8px 25px;
}

#restart-game:hover {
  background: rgb(255, 194, 103);
  border: 2px solid rgb(255, 194, 103);
  color: rgb(78, 38, 15);
}


/* @keyframes move-in {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
} */

/***************** MEDIA ******************/

@media only screen and (max-width: 720px) {
#content {
  width: 100%;
}

  #container {
    width: 100%;
  }

  canvas {
    width: 100%;
  }
}


@media only screen and (max-width: 600px) {

  #main-buttons button {
    padding: 8px 15px;
    margin: 0 2px;
    font-size: 16px;
    border: 2px solid rgb(78, 38, 15);
  }

  .game-buttons {
    padding: 3px 10px;
    background: rgb(187, 106, 0);
    color: rgb(255, 234, 208);
    border: 2px solid rgb(78, 38, 15);
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
  }

  #total-points {
    top: 18%;
    font-size: 24px;
  }

  #end-screen h2 {
    font-size: 40px;
  }

  .statline {
    font-size: 18px;
    padding: 0px;
  }

  .kills {
    font-size: 15px;
  }
}


@media only screen and (max-height: 640px) {

  #mobile-buttons {
    position: absolute;
    bottom: 0;
    justify-content: space-between;
  }
}


@media only screen and (max-height: 480px) {
  body {
    overflow-y: hidden;
  }

  #container {
    height: 100vh;
  }

  canvas {
    height: 100%;
  }

  body {
    padding-bottom: 50px;
  }

  .screen {
    font-size: 20px;
    padding: 10px 20px;
    gap: 15px;
  }

  #story-screen {
    border-radius: 0px;
  }
}

@media only screen and (max-width: 500px) {

  .screen {
    height: 100%;
    width: 100%;
}

  table {
    line-height: 30px;
  }

  #end-screen h2 {
    font-size: 30px;
  }

  #end-screen-content {
    gap: 5px;
  }

  .statline {
    font-size: 15px;
    padding: 0px;
  }

  .kills {
    font-size: 12px;
  }

}


@media only screen and (max-width: 430px) {
  .screen {
    font-size: 18px;
    padding: 10px 20px;
    gap: 0px;
  }

  #story-screen {
    padding: 20px;
  }

  #story-screen h2 {
    margin-bottom: 10px;
  }

  table {
    padding-top: 20px;
    line-height: 30px;
  }

  #main-buttons button {
    padding: 3px 10px;
    margin: 0 2px;
    font-size: 14px;
  }

  #game-buttons {
    height: 40px;
    gap: 5px;
  }

  .game-buttons {
    font-size: 14px;
  }

  #total-points {
    top: 15%;
    font-size: 22px;
  }
}